@import "../../../../index";

.board-container {
  .board-row {
    display: flex;

    @include mobile {
      justify-content: center;
    }

    .row-number {
      margin-right: 20px;
      margin-top: 15px;
      font-size: 30px;

      @include mobile {
        font-size: 26px;
        margin-top: 5px;
        margin-right: 10px;
      }
    }

    .value {
      width: 50px !important;
      height: 50px !important;
      border: 1px solid $gray-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      border-radius: 5px;
      margin: 5px;
      box-shadow: 1px 1px 1px $gray-color;

      @include mobile {
        width: 30px !important;
        height: 30px !important;
      }
    }
  }
}
